.blog-home{
  padding:0;
  margin:0 auto;
  background-color: #f5f5d5;
  font-family: Georgia,serif;
  letter-spacing: -0.0.1em;
  word-spacing: .2em;
  font-size: 62.5%;
  color: #111;
  height:100%;
  width:100%;
  position: absolute;
}

.blog-container{
  width:80%;
  margin:0 auto;
}